body {
    font-family:Verdana;
}

div.menu ul{
    padding: 2px;
     
    border-radius: 1em;

}
div.menu li{
         margin: 0 0 5px;
    padding: 4px 12px;

      border-radius: 1em;
 
}
div.menu a.level1 {
background: #d6d0d0;
margin: 5px;
padding: 5px;
  border-radius: 1em;
    box-shadow: 4px 4px 6px #666;
}
div.menu a.level2 {
 margin:5px;
 padding:5px;
background: #d6d0d0;
padding-left: 100px;
  border-radius: 1em;
    box-shadow: 4px 4px 6px #666;
}
div.menu a:hover{
    transition: 0.5s;
    padding: 10px;

}
div.menu a.selected {
background: green;
padding:10px;
}

.naglowek{
    margin-bottom:5px;
    height: 150px;
    width: 100%;
    text-align:center;
}

.lewy_srodek{
 color:black;
 align-content:center;
    width: 200px;

    display:inline-block;
}
.prawy_srodek{
    border-radius: 1em;
    width:200px;
  
    display:inline-block;
    background: #ddc1c1;
    vertical-align:top;
}
.jakisStyl{
font-size: 80pt !important; 

}
.srodek{
    border-radius: 1em;
    width:calc(100% - 435px);
   padding:10px;
    display:inline-block;
    background: #ddc1c1;
    vertical-align:top;
}
.stopka {
    border-radius: 1em;
   font-weight: bold;
    text-align:center;
    height:50px;
    width:100%;
    background: #A09B9B;

}
.news_data {
    border:solid;
    border-color: #01fa01;
    background-color:white;
    font-family:'Times New Roman';
    width:125px;
    text-align:center;
    font-style:italic;

}
.news_naglowek {
    font-size:25px;
    font-family:Verdana;
    text-align:center;
    font-weight:bold;
}
.news_tresc {
    font-family:Verdana;
}
.news_przerwa {
    height:50px;
}